
@media (max-width: 767px) {
    
    .navbar-brand {
      font-size: 1.2rem;
    }
    .navbar-nav {
      flex-direction: column;
    }
    .nav-item {
      margin: 0.5rem 0;
    }
  }
  
  
  @media (min-width: 768px) and (max-width: 991px) {
    
  }
  
  
  @media (min-width: 992px) {
    
  }
  .footer{
    width: 100% !important;
    height: 420px !important;
 }

  